<a href="https://colab.research.google.com/github/Pallavi255/P1Project/blob/main/session_2_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [1]:
# Write code here
ctc = int(input('Enter your anual CTC:'))

if ctc < 5000000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/12,2))

Enter your anual CTC:1000000
You in hand monthly salary will be- 68333.33

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [6]:
# Write code here
a=int(input("Enter threee different angles"))
b=int(input("Enter threee different angles"))
c=int(input("Enter threee different angles"))
if (a+b+c)==180:
  print("It forms a triangle")
else:
  print("No it does not form triangle")

Enter threee different angles45
Enter threee different angles23
Enter threee different angles12
No it does not form triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [10]:
# Write code here
CP=int(input("Enter the cost price"))
SP=int(input("Enter the selling price"))

if SP>CP:
  print("Its Profit")
else:
  print("Its a loss")

Enter the cost price20
Enter the selling price40
Its Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [11]:
# Write code here
menu = input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
  cm = float(input('enter the cm value'))
  print('ft value is',0.032*cm)
elif menu == '2':
  km = float(input('enter the km value'))
  print('miles value is',km*0.62)
elif menu == '3':
  usd = float(input('enter usd'))
  print('inr',usd*80)
else:
  exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
2
enter the km value22
miles value is 13.64

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [12]:
# Write code here
num1,num2=0,1
for i in range(0,10):
  print(num1)

  next=num1+num2

  num1=num2
  num2=next

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [15]:
# Write code here
num=int(input("Enter a given number"))
fact=1
for i in range(num,1,-1):
  fact=fact*i

print(fact)

Enter a given number5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [17]:
# Write code here
number=int(input("Enter any number"))
rev = 0

while number>0:
  last = number%10
  rev = rev*10 + last
  number = number//10

print(rev)

Enter any number234
432

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [9]:
# Write code here
n=int(input("Enter any number"))

sum=0
i=1
while i<n+1:
  if i%5==0:
    i+=1
    continue

  sum+=i

  if sum>300:
    sum-=i
    break

  i+=1


print(sum)

Enter any number50
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [15]:
# Write code here
num=int(input("Enter the number"))
sum=0
count=0
while num!=0:
  sum+=num
  count=count+1
  num=int(input("Enter the number"))
print(sum)
print(count)
print("Avg is",sum/count)

Enter the number1
Enter the number2
Enter the number3
Enter the number4
Enter the number5
Enter the number0
15
5
Avg is 3.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [17]:
# Write code here

for i in range(2000,3001):
  if i%7==0 and i%5!=0:
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [18]:
# Write code here
for i in range(2000,3001):
  if i%2==0:
    print(i,end=' ')

2000 2002 2004 2006 2008 2010 2012 2014 2016 2018 2020 2022 2024 2026 2028 2030 2032 2034 2036 2038 2040 2042 2044 2046 2048 2050 2052 2054 2056 2058 2060 2062 2064 2066 2068 2070 2072 2074 2076 2078 2080 2082 2084 2086 2088 2090 2092 2094 2096 2098 2100 2102 2104 2106 2108 2110 2112 2114 2116 2118 2120 2122 2124 2126 2128 2130 2132 2134 2136 2138 2140 2142 2144 2146 2148 2150 2152 2154 2156 2158 2160 2162 2164 2166 2168 2170 2172 2174 2176 2178 2180 2182 2184 2186 2188 2190 2192 2194 2196 2198 2200 2202 2204 2206 2208 2210 2212 2214 2216 2218 2220 2222 2224 2226 2228 2230 2232 2234 2236 2238 2240 2242 2244 2246 2248 2250 2252 2254 2256 2258 2260 2262 2264 2266 2268 2270 2272 2274 2276 2278 2280 2282 2284 2286 2288 2290 2292 2294 2296 2298 2300 2302 2304 2306 2308 2310 2312 2314 2316 2318 2320 2322 2324 2326 2328 2330 2332 2334 2336 2338 2340 2342 2344 2346 2348 2350 2352 2354 2356 2358 2360 2362 2364 2366 2368 2370 2372 2374 2376 2378 2380 2382 2384 2386 2388 2390 2392 2394 2396 2398 2400 2402 2404 2406 2408 2410 2412 2414 2416 2418 2420 2422 2424 2426 2428 2430 2432 2434 2436 2438 2440 2442 2444 2446 2448 2450 2452 2454 2456 2458 2460 2462 2464 2466 2468 2470 2472 2474 2476 2478 2480 2482 2484 2486 2488 2490 2492 2494 2496 2498 2500 2502 2504 2506 2508 2510 2512 2514 2516 2518 2520 2522 2524 2526 2528 2530 2532 2534 2536 2538 2540 2542 2544 2546 2548 2550 2552 2554 2556 2558 2560 2562 2564 2566 2568 2570 2572 2574 2576 2578 2580 2582 2584 2586 2588 2590 2592 2594 2596 2598 2600 2602 2604 2606 2608 2610 2612 2614 2616 2618 2620 2622 2624 2626 2628 2630 2632 2634 2636 2638 2640 2642 2644 2646 2648 2650 2652 2654 2656 2658 2660 2662 2664 2666 2668 2670 2672 2674 2676 2678 2680 2682 2684 2686 2688 2690 2692 2694 2696 2698 2700 2702 2704 2706 2708 2710 2712 2714 2716 2718 2720 2722 2724 2726 2728 2730 2732 2734 2736 2738 2740 2742 2744 2746 2748 2750 2752 2754 2756 2758 2760 2762 2764 2766 2768 2770 2772 2774 2776 2778 2780 2782 2784 2786 2788 2790 2792 2794 2796 2798 2800 2802 2804 2806 2808 2810 2812 2814 2816 2818 2820 2822 2824 2826 2828 2830 2832 2834 2836 2838 2840 2842 2844 2846 2848 2850 2852 2854 2856 2858 2860 2862 2864 2866 2868 2870 2872 2874 2876 2878 2880 2882 2884 2886 2888 2890 2892 2894 2896 2898 2900 2902 2904 2906 2908 2910 2912 2914 2916 2918 2920 2922 2924 2926 2928 2930 2932 2934 2936 2938 2940 2942 2944 2946 2948 2950 2952 2954 2956 2958 2960 2962 2964 2966 2968 2970 2972 2974 2976 2978 2980 2982 2984 2986 2988 2990 2992 2994 2996 2998 3000

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [20]:
# Write code here
pos=[0,0]
while True:
  s=input("Enter the direction and steps for the movement of robot")
  if s=="!":
    break
  direction=s.split(" ")[0]
  steps=int(s.split(" ")[1])
  if direction=="Right":
    pos[0]=pos[0]+steps
  elif direction=="Left":
    pos[0]=pos[0]-steps
  elif direction=="Up":
    pos[1]=pos[1]+steps
  elif direction=="Down":
    pos[1]=pos[1]-steps
  else:
    pass

print((pos[0]**2+pos[1]**2)**0.5)

Enter the direction and steps for the movement of robotUp 5
Enter the direction and steps for the movement of robotDown 5
Enter the direction and steps for the movement of robotRight 5
Enter the direction and steps for the movement of robotLeft 5
Enter the direction and steps for the movement of robot!
0.0

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [33]:
# Write code here
num=int(input("Enter any number"))
flag=True
for i in range(2,num):
  if num%i==0:
    flag=False
    break
if flag==True:
  print("Prime")
else:
  print("Not prime")

Enter any number43
Prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [10]:
# Write code here
num=int(input("Enter the number"))
sum=0
x=len(str(num))
copy_n=num
while num>0:
  digit=num%10
  num=num//10
  sum=sum+digit**x
print(sum)

if sum==copy_n:
  print("Armstrong num")
else:
  print("Not Armstrong num")

Enter the number1634
1634
Armstrong num

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [13]:
hour=int(input("Enter the hour"))
min=int(input("Enter the min"))
h_angle=(hour+min/60)*30
m_angle=min*6
angle1=abs(h_angle-m_angle)
angle2=360-angle1
if angle1>angle2:
  print(angle1)
else:
  print(angle1)

Enter the hour3
Enter the min23
36.5

In [11]:
# Write code here
def calculate_angle(hour, minute):
    # Ensure the hour is within 1 to 12
    hour = hour % 12

    # Calculate the angle of the hour hand from 12:00
    hour_angle = (hour * 30) + (minute * 0.5)

    # Calculate the angle of the minute hand from 12:00
    minute_angle = minute * 6

    # Calculate the absolute difference between the two angles
    angle = abs(hour_angle - minute_angle)

    # The angle between hands should be the smaller angle, so take the minimum of angle and 360 - angle
    angle = min(angle, 360 - angle)

    return angle

# Example usage:
hour = int(input("Enter hour (1-12): "))
minute = int(input("Enter minute (0-59): "))
angle = calculate_angle(hour, minute)
print(f"The angle between the hour and minute hand is {angle} degrees.")

Enter hour (1-12): 3
Enter minute (0-59): 23
The angle between the hour and minute hand is 36.5 degrees.

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [14]:
# Write code here
def do_rectangles_overlap(L1, R1, L2, R2):

    x1, y1 = L1
    x2, y2 = R1
    x3, y3 = L2
    x4, y4 = R2

    # Check for non-overlapping conditions
    if (x2 < x3 or x4 < x1 or
        y2 > y3 or y4 > y1):
        return False  # No overlap

    return True  # Overlap exists


L1 = (0, 10)
R1 = (10, 0)
L2 = (5, 5)
R2 = (15, -5)

if do_rectangles_overlap(L1, R1, L2, R2):
    print("The rectangles overlap.")
else:
    print("The rectangles do not overlap.")

The rectangles overlap.